


		

	
		<div  style="margin-right: 0px;margin-left: 0px;padding-bottom: 40px;margin-top: 40px; background-color: #f2f2f2;" class="row">

		<br><br><br>
				
						<div class="container">


						<div   class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								
								<section>
											
									
										<h2 style="font-family: 'Oxygen', sans-serif; color:#FF434C ; margin-top: 0px;margin-bottom: 0px;">Otros Servicios</h2>	
										<br>
										<ul >
											<li> <a style="font-family: 'Oxygen', sans-serif; "   href="http://www.miespaciopropiedades.com/welcome/adminprop">Administración de Propiedades</a></li>
											<li> <a style="font-family: 'Oxygen', sans-serif; " href="http://www.miespaciopropiedades.com/welcome/tasacionesinmob_asesorleg">Tasaciones Inmobiliarias y Asesorías Legales</a></li>
											
											<li> <a style="font-family: 'Oxygen', sans-serif; " href="http://www.miespaciopropiedades.com/welcome/disenoarquitec">Diseño de ambientes y Arquitectura</a></li>
										</ul>
								</section>
						</div>

						

						<div   class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								
								<section>

									<h2 style="font-family: 'Oxygen', sans-serif; color:#FF434C ; margin-top: 0px;margin-bottom: 0px;">Corretaje de Propiedades</h2>
									<br>
										<ul >	
											<li> <a style="font-family: 'Oxygen', sans-serif; " href="http://www.miespaciopropiedades.com/welcome/corretajescasas">Casas</a></li>
											<li ><a style="font-family: 'Oxygen', sans-serif; " href="http://www.miespaciopropiedades.com/welcome/corretajesdeptos">Departamentos</a></li>
											<li ><a style="font-family: 'Oxygen', sans-serif; " href="http://www.miespaciopropiedades.com/welcome/corretajesoficinas">Oficinas</a></li>
										</ul>
								</section>
					    </div>
									
								

						<div   class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

						<div class="row">

						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								

						  					<a   href="https://www.facebook.com/Mi-Espacio-Gesti%C3%B3n-Inmobiliaria-1650394555201984/" target="_blank" ><%= image_tag("comple1f.png" ,  :style => "width:150px ; margin-top:50px" )%></a>
						</div>

						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
								
								
											
						</div>

						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">


											 <button class="button arrow" style="font-family: 'Oxygen', sans-serif  ;padding-left: 9px ; font-size:20px; margin-top: 30px"> <a style="color:white" href="http://www.miespaciopropiedades.com/welcome/publicatuprop">  Publica tu Propiedad</a></button>

						</div>

						</div>
														 
						</div>




			

		
			</div>

			
		</div>


<section style=" background-color: #FF434C">
<div class="row">
<div class="container">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<p style="margin-bottom: 10px; margin-top: 10px ; color: #ffffff;">© Diseñada y creada por: <a target="_blank" style="color:white" href="https://www.facebook.com/DevelopUPChile/?fref=ts">    DevelopUP</a>    || By Sebastián Roldán || Email: sroldan@alumnos.uai.cl</p>
            
                   

</section>
