

<!-- Docs master nav -->
<header class="navbar navbar-fixed-top navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container ">
    <div class="navbar-header ">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a href="../" class="navbar-brand">Mi Espacio </a>
    </div>

    
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      
        <li>
          <a href="../css/">CSS</a>
        </li>
        <li>
          <a href="../components/">Components</a>
        </li>
        <li>
          <a href="../javascript/">JavaScript</a>
        </li>
        
      
      <li style="width: 50px;height: 70px;">
        
      </li>

      <li><a href="../customize/">Customize</a></li>

 

     <li  class="dropdown">

          <a href="#"   class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ubicación <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right">

                      <li> <a href="#">Providencia</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Ñuñoa</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Santiago Centro</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Las Condes</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Vitacura</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Macul</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Estación Central</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Quilicura</a></li>
            
          </ul>
                     
        </li>

        <li class="dropdown">

          <a href="#"   class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Número de Piezas <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right">

                      <li> <a href="#">1 Pieza</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">2 Piezas</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">3 Piezas</a></li>
            
          </ul>
                     
        </li>

       <li  class="dropdown">

          <a href="#"   class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Número de Baños <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right">

                      <li><a href="#">1 Baño</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">2 Baños</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">3 Baños</a></li>
            
          </ul>
                     
        </li>

</ul>
    </nav>

  </div>
</header>






