
	
		<div  class="container" style="margin-top: 100px;margin-bottom: 100px">
			<%= image_tag("disenoa.jpg",  :class => "img-responsive sombra")%>
			<div class="row">

					<div  style=" font-family: 'Oxygen', sans-serif; "  class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
										<h2 style="margin-top:50px ;font-family: 'Oxygen', sans-serif; color:#58585a">Proponemos un diseño personalizado enfocado en ofrecer  calidez ambiental, calidad y comodidad. </h2><hr>
										</div>
									
				</div>						

			<div class="row">

			<div  style=" font-family: 'Oxygen', sans-serif; "  class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<ul>
										<li> <h4 style="color:#58585a">Contamos con un grupo de especialistas en diseño de interiores, para mejorar cada espacio, proponiendo una tendencia moderna, eficiencia de espacios, calidez ambiental, comodidad y de calidad.</h4><br> 
										
										<li > <h4 style="color:#58585a"> Nuestros especialistas se encargan de todo: estructuras, mobiliario y decoración. </li>
										</h4>
										<h4 style="margin-top:50px ; color:#58585a"><li>Entregando al cliente una propuesta que cumpla con sus expectativas y tiempos.</li>
										</h4>
										
										<h4 style="margin-top:50px ; color:#58585a"><li>Cada renovación es una inversión que debe ser realizada por profesionales para lograr resultados de impacto tanto en los gustos personales como para mejorar la estrategia e imagen de un negocio.</li></h4><hr>

																			
										
									</ul>
									


								
		
										<center>
												<button style=" ;padding-left: 9px ; font-size:20px; margin-top: 20px" class="button arrow "> <span style="padding-right: 10px;" class="glyphicon glyphicon-home" aria-hidden="true"></span><a style="color:white" href="http://www.miespaciopropiedades.com/welcome/publicatuprop">Contráta nuestros servicios</a></button>
										</center>
										
									</ul>
									


								
					</div>
							
				</div>
			</div>
		</div>
