
		<section >
			<div  class="container" style="margin-top: 100px;margin-bottom: 100px">
			<%= image_tag("contacto.jpg",  :class => "img-responsive sombra")%>
			</div>

		</section>

		<section>
			
			<div class="container">

			<div class="row">  

									<div   class="col-xs-12 col-sm-12  col-md-12 col-lg-12">
									<hr>
									<center>
									<h2 style="color: #58585a ; font-family: 'Oxygen', sans-serif;">Ponte en contacto con nosotros en cualquier momento que necesites ayuda profesional o si tienes alguna pregunta </h2>
									<h3 style="color: #58585a ; font-family: 'Oxygen', sans-serif;">Escríbenos a nuestro email: <li style="margin-top:15px"> miespacio.chile@gmail.com </li></h3>
									<h3 style="color: #58585a ; font-family: 'Oxygen', sans-serif;">Celular: 



									<li style="margin-top:15px">+56 9 93008933 </li> 
									<li> +56 9 68042115</li>
									</h3>
									<hr></center>
									</div>
				

			</div>


		</section>

	<div class="container" style="margin-top: 50px;margin-bottom: 140px;">



						<div class="row">  

							


									<div   class="col-xs-12 col-sm-12  col-md-12 col-lg-12"> 

											<section>

      								<%= image_tag("separadorcolor222233.jpg",   :class =>  "img-responsive") %> 


									</section>


			
									</div>
						</div>
	</div>