
	
		<div  class="container" style="margin-top: 100px;margin-bottom: 100px">
				<%= image_tag("tasaciones&asesor.jpg",  :class => "img-responsive sombra")%>
			<div class="row">


							
								<div  style=" font-family: 'Oxygen', sans-serif; "  class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
										<h2 style="margin-top:50px ;font-family: 'Oxygen', sans-serif; color:#58585a">Trabajamos con un modelo que considera cada unas de las variables que influyen al valorar al inmueble. </h2>
										</div>
									
					</div>
			<div class="row">
							<div  style=" font-family: 'Oxygen', sans-serif; "  class="col-xs-12 col-sm-12 col-md-8 col-lg-8">		
									
									<hr>
									<ul ><h4>
										<li style=" color:#58585a">Orientamos a nuestros clientes en la de adquisición de bienes raíces, posesiones efectivas, sucesiones, estudios de títulos, tasaciones.</li> </h4>

										</ul> <hr>
							</div>


				<div class="row">
				<div  style=" font-family: 'Oxygen', sans-serif; "  class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
										<h3 style=" color:#FF434C">Servicios:</h3> <br>
										
										<li><h4 style=" color:#58585a">Revisión de títulos.</h4></li>

										<li><h4 style=" color:#58585a">Certificados de dominio, hipotecas y gravámenes.</h4> </li>

										<li><h4 style=" color:#58585a">Certificados de no expropiación e informaciones previas.</h4></li>

										<li><h4 style=" color:#58585a">Asesoría en antecedentes legales para un estudio de títulos.</h4></li>

										<li><h4 style=" color:#58585a">Certificados de no expropiación e informaciones previas.</h4></li>

										<li><h4 style=" color:#58585a">Redacción de contratos de compraventa y arriendos.</h4></li>

										<li><h4 style=" color:#58585a">Inscripción de las compraventas en el Conservador de Bienes Raíces.</h4></li>

										

												<li><h4 style=" color:#58585a">Obtención de informes comerciales.</h4></li>

										<hr>

										<button style=" ;padding-left: 9px ; font-size:20px; margin-top: 20px" class="button arrow "> <span style="padding-right: 10px;" class="glyphicon glyphicon-home" aria-hidden="true"></span><a style="color:white" href="http://www.miespaciopropiedades.com/welcome/publicatuprop">Contrata nuestros servicios</a></button>
									
									
										
								


										
									</ul>
									

								
							</div>
							
			</div>
		</div></div>
	
